.card {
  max-width: 100%;
  position: relative;
  width: 25rem;
}

.card-image {
  border-radius: 0.5rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  height: 20rem;
}

.card-content {
  background-color: var(--dark-gray);
  border-radius: 0.6rem;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.8);
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  height: 15rem;
  left: 11rem;
  padding: 1rem;
  position: absolute;
  top: 3rem;
  width: 15rem;
}

.character-title {
  color: var(--white);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.character-name {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.character-info {
  display: flex;
  margin-top: 1rem;
}

.character-badge {
  background-color: var(--blue);
  border-radius: 1rem;
  color: var(--white);
  margin-right: 0.8rem;
  padding: 0.2rem 0.5rem;
}

@media only screen and (max-width: 35rem) {
  .card {
    width: 22rem;
  }
  .card-image {
    height: 15rem;
  }
  .card-content {
    left: 7rem;
    top: 0;
  }
}

@media only screen and (max-width: 25rem) {
  .card-content {
    width: 14rem;
  }
}
