.character-container {
  display: grid;
  grid-gap: 5rem 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 5rem 1rem;
  width: 1000px;
}

@media only screen and (max-width: 1100px) {
  .character-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 790px) {
  .character-container {
    grid-template-columns: 1fr;
  }
}
