.character-container {
  display: grid;
  grid-gap: 3rem 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 7rem 1rem 3rem;
  width: 1000px;
}

@media only screen and (max-width: 57rem) {
  .character-container {
    grid-template-columns: 1fr;
  }
}
