:root {
  --font-family-title: 'Bangers', cursive;
  --font-family-base: 'Open Sans', sans-serif;
  --blue: #0282F9;
  --dark-blue: #0262bc;
  --light-blue: rgba(2, 130, 249, 0.4);
  --gray: #303030;
  --white: #FFF;
  --transition-time: 330ms;
  --transition-function: cubic-bezier(0.790, 0.010, 0.375, 0.995);
}
